/*!CK:1004726897!*//*1435565943,*/

.sp_-nVeLdmcZTS{background-image:url(/rsrc.php/v2/y8/r/Bm-3v-NNCL9.png);background-size:17px 43px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_-nVeLdmcZTS.sx_1cbfe4{width:16px;height:16px;background-position:0 0}.sp_-nVeLdmcZTS.sx_92f9d3{background-position:0 -17px}.sp_-nVeLdmcZTS.sx_aed58c{background-position:0 -30px}

#bootloader_Hu0ao { height: 42px; }
.bootloader_Hu0ao { display:block !important; }