/*!CK:3461437704!*//*1435726259,*/

.sp_EHeZZtub1JU{background-image:url(/rsrc.php/v2/yW/r/YzLmMgsIshc.png);background-size:17px 30px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_EHeZZtub1JU.sx_82d5af{background-position:0 0}.sp_EHeZZtub1JU.sx_5eee97{width:12px;height:12px;background-position:0 -17px}

#bootloader_oqw_b { height: 42px; }
.bootloader_oqw_b { display:block !important; }