/*!CK:788070494!*//*1439927157,*/

.sp_ug27UZnME_o{background-image:url(/rsrc.php/v2/y8/r/eF6LtZcRAKy.png);background-size:17px 34px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_ug27UZnME_o.sx_46213a{background-position:0 0}.sp_ug27UZnME_o.sx_7cb309{background-position:0 -17px}

#bootloader_2Tesb { height: 42px; }
.bootloader_2Tesb { display:block !important; }