/*!CK:446332950!*//*1439908441,*/

.sp_QuFoLbglSrn{background-image:url(/rsrc.php/v2/yp/r/xtgqIxZrveN.png);background-size:19px 36px;background-repeat:no-repeat;display:inline-block;height:18px;width:18px}.sp_QuFoLbglSrn.sx_310324{width:16px;height:16px;background-position:0 -19px}.sp_QuFoLbglSrn.sx_bff8f2{background-position:0 0}

#bootloader_44isT { height: 42px; }
.bootloader_44isT { display:block !important; }